* {
    --primary-clr: rgb(255,36,0);
    --secondary-clr: rgb(0, 0, 0);

    --primary-font: 'Prata', sans-serif;
    --secondary-font: 'Lato', serif;
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 100%;
}

#name {
    font-family: var(--primary-font);
    color: var(--primary-clr);
    font-size: 5rem;
}

#surname {
    font-family: var(--primary-font);
    color: var(--primary-clr);
    font-size: 5rem;
}

#ocupation {
    font-family: var(--secondary-font);
    color: var(--secondary-clr);
    font-size: 2rem;
}


