
/* variables */
:root {
    --secondary: #f1f3de;
    --primary: #cd0a0a;
}
/* reset */
li {
    list-style-type: none;
}
body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* base styles */
html {
    scroll-behavior: smooth;
}

body{
    background: var(--secondary);
    overflow-x: hidden;
}
.button {
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(146, 103, 103, 0.6);
    display: inline-block;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;

}
.button:hover {
    color: #222222;
    background: var(--primary);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}
input, textarea {
    background: rgba(255, 255,255, 0.05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid var(--primary);
}

/* fonts */
h1, h2, h3, h4 {
    color: var(--primary);
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
}
p, a, li {
    color: var(--primary);
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    font-size: 5em;
    font-family: 'Yeseva One', cursive;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
p {
    font-size: 1.1em;
}
a {
    font-size: 1.3em;
}
/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px){
    .container {
        display: grid;
        grid-template-columns: repeat(2,1fr) !important;
        grid-auto-rows: 200px !important;
        grid-gap: 1em;
        width: 90%;
        margin: auto;
    }
}

/* small tablets & laptops styles */
@media screen and (min-width: 960px){
    .site-nav {
        text-align: right !important;
    }
    
    .site-nav ul {
        visibility: visible !important;
    }

    .navbar-links {
        display: inline-block;
        padding-top: 2em;
        padding-right: 4em;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2,1fr) !important;
        grid-auto-rows: 200px !important;
        grid-gap: 1em;
        width: 90%;
        margin: auto;
    }
}

/* desktop styles*/
@media screen and (min-width:1200px){
    .site-nav {
        text-align: right !important;
    }
    
    .site-nav ul {
        visibility: visible !important;
    }

    .navbar-links {
        display: inline-block;
        padding-top: 2em;
        padding-right: 4em;
    }


    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr) !important;
        grid-auto-rows: 200px !important;
        grid-gap: 1em;
        width: 90%;
        margin: auto;
    }

    .w-1 {
        grid-column: span 1;
    }

    .w-2 {
        grid-column: span 2;
    }

    .w-3 {
        grid-column: span 3;
    }

    .h-1 {
        grid-row: span 1;
    }

    .h-2 {
        grid-row: span 2;
    }

    .h-3 {
        grid-row: span 3;
    }
}
/* navigation */
.site-nav ul {
    visibility: hidden;
    padding-bottom: 3em;
}

/* Grid */
#home {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#peintures {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 9em;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    width: 90%;
    margin: auto;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
    transform: scale(1.5);
}

.gallery-item .text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    z-index:4;
    font-family: 'Josefin Sans', sans-serif;
    transition: .5s ease-in-out;
}
.gallery-item:hover .text {
    opacity: 1;
}
.gallery-item .text p {
    color: var(--secondary);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*content*/
#contact {
    background-color: #eb8f8f;
    padding: 30px 20px;
}

#contact h3 {
    text-align: center;
    margin: 0;
}

#contact form {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    color: black;
}

#contact input, #contact textarea {
    width: 80%;
    margin: 10px 0;
    color: var(--primary);
}

#contact .button {
    margin-top: 10px;
}

::placeholder {
    color: black;
    opacity: 0.7;
}

:-ms-input-placeholder {
    color: black;
    opacity: 0.7;
}

::-ms-input-placeholder {
    color: black;
    opacity: 0.7;
}

#about {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-text {
    max-width: 700px;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    text-align: left;
}

.FadeOut {
    opacity: 0;
    transition: ease-in 2s;
}